page-login {
    .forgot-password {
        position: absolute;
        bottom: 0;
        padding-bottom: 15px;
        width: 100%;
        text-align: center;

        p {
            cursor: pointer;
            text-align: center;
        }
    }

    .no-account {
        text-align: center;
    }
}
