page-login {
    .forgot-password {
        padding-top: 3em;
        padding-bottom: 15px;
        width: 100%;
        text-align: center;

        p {
            cursor: pointer;
            text-align: center;
        }
    }

    .no-account {
        text-align: center;
    }
}
