page-dashboard {
    .balance {

        background-color: #eee;

        h4 {
            text-transform: capitalize;
            font-size: 1.2em;
            font-weight: 600;
            color: color($colors, primary);
        }
    }

    .amount {
        font-size: 2.1em;
        font-weight: 600;
    }

    .currency {
        font-size: 1em;
    }
}
