<ion-header>

	<ion-navbar color="primary">
		<ion-title>Reset Password</ion-title>
	</ion-navbar>

</ion-header>


<ion-content>
	<div class="page">
		<div class="form-info">
			<p>Please enter the UWI email associated with your account to reset your password.</p>
		</div>
		<form [formGroup]="resetForm" (ngSubmit)="resetPassword(resetForm.value)">
			<div class="input-item">
				<ion-item>
					<ion-input id="email" type="email" formControlName="email" placeholder="UWI Email"></ion-input>
					<ion-icon name="mail" item-left></ion-icon>
					<ion-icon *ngIf="resetForm.controls['email'].valid" name="checkmark-circle" item-right small></ion-icon>
					<ion-icon *ngIf="!resetForm.controls['email'].valid && resetForm.controls['email'].touched" name="close-circle" item-right
					 small></ion-icon>
				</ion-item>
			</div>
			<div class="input-item">
				<button type="submit" [disabled]="!resetForm.valid" color="primary" ion-button block>Reset Password</button>
			</div>
		</form>
	</div>
</ion-content>