<div class="currency-container">

  <!-- UWI(UWICoin) to USD(US Dollar) -->
  <div class="currency-type">
    <h4>UWI/USD</h4>
    <p>${{currency.USD}}</p>
  </div>

  <!-- UWI(UWICoin) to TTD(Trinidad and Tobago Dollar) --> 
  <div class="currency-type">
    <h4>UWI/TTD</h4>
    <p>${{currency.TTD}}</p>
  </div>

  <!-- UWI(UWICoin) to BDS(Barbadian Dollar) -->
  <div class="currency-type">
    <h4>UWI/BDS</h4>
    <p>${{currency.BDS}}</p>
  </div>

  <!-- UWI(UWICoin) to JAM(Jamaican Dollar) -->
  <div class="currency-type">
    <h4>UWI/JAM</h4>
    <p>${{currency.JAM}}</p>
  </div>


</div>