<ion-header>

  <ion-navbar color="primary">
    <ion-title>New Debit Transaction</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-slides pager=true paginationType="progress" zoom=false>
    <ion-slide>
      <ion-spinner nae="dots" *ngIf="!vendorName"></ion-spinner>
      <div class="page payment_container" *ngIf="vendorName">
        <h4>A withdrawal was requested by
          <br> {{ vendorName }}</h4>
        <div class="withdrawal_info">
          <div class="modal_row">
            <label>Amount:</label>
            <span>{{ amount }} {{ currency }}</span>
          </div>
          <div class="modal_row">
            <label>Fee:</label>
            <span>{{ fee }} {{ currency }}</span>
          </div>
          <div class="modal_row">
            <label>Subtotal:</label>
            <span>{{ subtotal }} {{ currency }}</span>
          </div>
        </div>
        <div class="button_row">
          <button ion-button color="secondary" (click)="accept()">Accept</button>
          <button ion-button color="danger" (click)="cancel()">Cancel</button>
        </div>
        <div class="additional_info">
          <p>*All purchase are final and refunds are not available after a purchase unless in the event of a mistransation.</p>
        </div>
      </div>
      <ng-template #loading>
        <ion-spinner name="dots">Loading data...</ion-spinner>
      </ng-template>
    </ion-slide>
    <ion-slide>
      <div class="page">
        <img src="assets/imgs/icon.png" class="payment_logo" width="80" height="80">
        <form [formGroup]="passwordForm" (ngSubmit)="submitTransaction()">
          <h4>Please enter your password to continue</h4>
          <div class="input-item">
            <ion-item>
              <ion-icon name="lock" item-left></ion-icon>
              <ion-icon id="password" *ngIf="passwordForm.controls['password'].valid" name="checkmark-circle" item-right small></ion-icon>
              <ion-icon *ngIf="!passwordForm.controls['password'].valid && passwordForm.controls['password'].touched" name="close-circle"
                item-right small></ion-icon>
              <ion-input id="reauth-password" type="password" [(ngModel)]="password" formControlName="password" placeholder="Password"></ion-input>
            </ion-item>
          </div>
          <div class="button_row">
            <button ion-button color="secondary" (click)="submitTransaction()" [disabled]="!passwordForm.valid">Accept</button>
            <button ion-button color="danger" (click)="cancel()">Cancel</button>
          </div>
        </form>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>