$image-width: 150px;

page-account {
    .img-container {
        width: $image-width;
        height: $image-width;
        
        .user-image {
            width: $image-width;
        }
    }

    .button {
        margin-top: 2em;
        padding: 1.5em;
        width: 50%;
        font-size: 1.2em;
    }
}
