<ion-content padding>

  <div class="logo-container">
    <img src="assets/imgs/icon.png" alt="UWICoin" class="authentication-logo">
  </div>

  <form [formGroup]="signupForm" (ngSubmit)="signup(signupForm.value)">

    <!-- Full Name input -->
    <div class="input-item">
      <ion-item>
        <ion-input id="full-name" type="text" formControlName="fullName" placeholder="Full Name"></ion-input>
        <ion-icon name="contact" item-left></ion-icon>
        <ion-icon *ngIf="signupForm.controls['fullName'].valid" name="checkmark-circle" item-right small></ion-icon>
        <ion-icon *ngIf="!signupForm.controls['fullName'].valid && signupForm.controls['fullName'].touched" name="close-circle" item-right
          small></ion-icon>
      </ion-item>
    </div>

    <!-- Email input -->
    <div class="input-item">
      <ion-item>
        <ion-input id="email" type="text" formControlName="email" placeholder="UWI Email"></ion-input>
        <ion-icon name="mail" item-left></ion-icon>
        <ion-icon *ngIf="signupForm.controls['email'].valid" name="checkmark-circle" item-right small></ion-icon>
        <ion-icon *ngIf="!signupForm.controls['email'].valid && signupForm.controls['email'].touched" name="close-circle" item-right
          small></ion-icon>
      </ion-item>
    </div>

    <!-- Password input -->
    <div class="input-item">
      <ion-item>
        <ion-input id="password" type="password" formControlName="password" placeholder="Password"></ion-input>
        <ion-icon name="lock" item-left></ion-icon>
        <ion-icon *ngIf="signupForm.controls['password'].valid" name="checkmark-circle" item-right small></ion-icon>
        <ion-icon *ngIf="!signupForm.controls['password'].valid && signupForm.controls['password'].touched" name="close-circle" item-right
          small></ion-icon>
      </ion-item>
    </div>

    <!-- Confirm Password input -->
    <div class="input-item">
      <ion-item>
        <ion-input id="confirm-password" type="password" formControlName="confirmPassword" placeholder="Confirm Password"></ion-input>
        <ion-icon name="lock" item-left></ion-icon>
        <ion-icon *ngIf="signupForm.controls['confirmPassword'].valid" name="checkmark-circle" item-right small></ion-icon>
        <ion-icon *ngIf="!signupForm.controls['confirmPassword'].valid && signupForm.controls['confirmPassword'].touched" name="close-circle"
          item-right small></ion-icon>
      </ion-item>
    </div>

    <!-- Submit button -->
    <div class="input-item">
      <button type="submit" [disabled]="!signupForm.valid" color="primary" ion-button block>Sign up</button>
      <p class="no-account">Already have an account?
        <strong (click)="goToLogin()" style="cursor: pointer;">Log in now!</strong>
      </p>
    </div>

  </form>
</ion-content>