page-outlet-detail {

    .row {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5em;
    }

    .row-label {
        font-weight: 600;
        font-size: 0.8em;
        color: color($colors, primary);
        display: block;
        margin-bottom: 0.8em;
    }

    .row-detail {
        font-size: 1em;
    }
}
